*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

head {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(286, 70%, 29%);
  }

.start {
    border: none;
    background-color: rgb(248, 245, 248);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
      0px;
    color: hsl(0, 0%, 1%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
  }
  
button {
    cursor: default;
    background: #c90ae2;
   
  }
  div#until-found-box {
    color: rgb(191, 10, 228);
    border: 5px dotted rgb(168, 23, 212);
    background-color: lightgray;
  }


@media (max-width: 690px) {
    .btn {
      font-size: 10rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }

  }
  
  @media (max-width: 500px) {
    .btn {
      font-size: 5rem;
    }
  }